#map {
    height: 600px;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input:focus {
    outline: none;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px 11px 3px 13px;
    text-overflow: ellipsis;
    width: 200px;
}

.row {
    margin: 0;
}

table {
    margin-top: 20px;
}

#main {
    float: left;
    width: 100%;
    text-align: center;
}

#sequence {
    text-align: center;
}

#sequence text {
    font-weight: 600;
    fill: #fff;
}

#chart path {
    stroke: #fff;
}
